<!DOCTYPE html>
<html lang="en">
<head>
          <link rel="icon" href="/images/weather.png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <title>Document</title>
</head>
<body>
    <div class="main-content">
             {{>header}}

            <p>Page Not Found <p>

    </div>
   
    {{>footer}}


            <script src="./js/script.js"></script>

    
</body>
</html>