<!DOCTYPE html>
<html lang="en">
<head>
          <link rel="icon" href="/images/weather.png">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div class="main-content">
          {{>header}}
    
    <img class="portrait" src="./images/sof.jpg" alt="img not Found">

<h1>This is the about page</h1>




</div>

  



        {{>footer}}
            <script src="./js/script.js"></script>
</body>
</html>