   <header>
             <h1 id="toAnimate"> Whether App  {{pgname}}</h1>
             
               <a href="/">Home</a>
                <a href="/">whether</a>
            
                <a href="./help"> help</a>
           
                <a href="./about"> About</a>

               

    </header>

    
